*{
    background-color: lightgoldenrodyellow;
}
div.list__1>ul>li:nth-child(even){
    color: pink;
}
div.list__2>ul>li:nth-child(odd){
    font-size: 22px;
}
div.list__3>ul>li:nth-child(2n+4)::after{
    content: "!";
}
div.list__4>ul>li:last-of-type{
    color: blueviolet;
}
div.list__5>ul>li:first-letter{
    color: red;
    font-size: 30px;
}
