*{
    margin: 0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.2fr;
    grid-template-areas:
        "header header header"
        "left-side1 left-side2 right-top-side"
        "left-side1 left-side2 right-bottom-side"
        "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.left-side1{
    grid-area: left-side1;
    background: #A4A4A4;
}
.left-side2{
    grid-area: left-side2;
    background: #C1C1C1;
}
.right-top-side{
    grid-area: right-top-side;
    background: #7F7A7A;
}
.right-bottom-side{
    grid-area: right-bottom-side;
    background: #6B6161;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}
