body{
    background-color:  #bfcaa5;

}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;
}
.container {
    width: 250px;
    height: 250px;
    background-color: #803434;
    border: 10px;
}
.container h4{
    text-align: center;
    padding-top: 90px;
    color: white;
}
.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.dancing-script-uniquifier {
                     font-family: "Dancing Script", cursive;
                     font-optical-sizing: auto;
                     font-weight: 500;
                     font-style: normal;
                 }
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

