body{
    background-color: #445e17;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    margin: 10px;
}
.card{
    width: 210px;
    height: 200px;
    border: 1px solid darkolivegreen;
    background-color: #bfcaa5;
    border-radius: 10px;
    transition: transform 0.5s;
}
.card h4{
    text-align: left;
    padding-left: 8px;
    border: 1px;
    font-size: 20px;
}
.card p{
    text-align: left;
    padding-left: 8px;
    border: 1px;
    line-height: 15px;
    white-space: nowrap;
    font-size: 12px;
}
.card:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
  }




