body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.image{
    animation: image 2s linear infinite;
}
@keyframes image{
    from{
        transform: translateX(900px);
    }
}
div img{
    height: 200px;
    width: 200px;
}



