@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1E1E1E;
}
.w-1340{
    width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav{
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}
ul a{
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    text-decoration: none;
    color: #E9E3DC;

}
.nav__active-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    color: #1E1E1E;
}
.header-title{
    width: 1255px;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 107.09px;
    leading-trim: NONE;
    line-height: 89%;
    letter-spacing: -2px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 72px 0 33px 0;
}
.header-img{
    display: flex;
    border: none;
    width: 700px;
    height: 396px;
    top: 488px;
    left: 370px;
    angle: 0 deg;
    opacity: 1;

}
.container__burger{
    width: 1340px;
    margin: 0 auto;
    width: 1340px;
    height: 369px;
    background: #D1EF53;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border: 4px solid #1E1E1E;
    border-radius: 30px;
}
.container__burger h2{
    width: 533px;
    color: #1E1E1E;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    leading-trim: NONE;
    line-height: 89%;
    letter-spacing: -1.4px;
    text-transform: uppercase;
}
.container__burger p{
    width: 521px;
    color: #1E1E1E;
    font-family: Inter sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
    margin-bottom: 34px;
}
.container__burger button{
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    width: 176px;
    height: 60px;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    box-shadow: 8px 8px 0 0 black;
}
.image__burgers{
    width: 1340px;
    margin: 0 auto;
    padding: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.burger__one{
    width: 650px;
    height: 753px;
    top: 1349px;
    left: 50px;
    border-radius: 30px;
    border-width: 4px;
    angle: 0 deg;
    opacity: 1;
    background: #B3A0CD;
    border: 4px solid #E9E3DC;
}
.burger__two{
    width: 650px;
    height: 753px;
    top: 1349px;
    left: 740px;
    border-radius: 30px;
    border-width: 4px;
    angle: 0 deg;
    opacity: 1;
    border: 4px solid #E9E3DC;
}
img{
    width: 1340px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 4px solid #D9D9D9;
}
.bottom__end{
    margin: 0 auto;
    width: 895px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 70px;
    leading-trim: NONE;
    line-height: 102%;
    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
    padding: 120px 0;
}
.container__text button{
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 97%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    width: 196px;
    height: 60px;
    background: #D1EF53;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;

}
a{
    text-decoration: none;
    color: #1E1E1E;
}
.button__first{
    text-decoration: none;
    color: #1E1E1E;
}






