*{
    margin: 0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns:1.3fr 1fr;
    grid-template-rows:0.5fr 5fr 4fr 1fr 1.2fr;
    grid-template-areas:
"header header"
"left-side right-top-side"
"left-side right-bottom-side"
"footer-1 footer-1"
"footer footer";

}
header{
    grid-area: header;
    background: #D9D9D9;
}
.left-side{
    grid-area: left-side;
    background: #A4A4A4;
}
.right-top-side{
    grid-area: right-top-side;
    background: #7F7A7A;
}
.right-bottom-side{
    grid-area: right-bottom-side;
    background: #615050;
}
.footer-1{
    grid-area: footer-1;
    background: #D9D9D9;
}
footer{
    grid-area: footer;
    background: #AFA9A9;
}
