*{
    margin: 0;
}
header{
    height: 4.476vh;
    background-color: #D9D9D9;
}
main{
    display: flex;
    height: 85.586vh;
}
.section__left{
    width: 28.819vw;
    height: 100%;
    background-color: #A4A4A4;
}
.section__right{
    width: 30.556vw;
    height: 100%;
    background-color: #C1C1C1;
}
.aside__top{
    width: 40.625vw;
    height: 50%;
    background-color: #7F7A7A;
}
.aside__bottom{
    width: 40.625vw;
    height: 50%;
    background-color: #6B6161;
}
footer{
    height: 9.937vh;
    background-color: #D9D9D9;
}
