body{
    background-image: url("https://images.unsplash.com/photo-1497124401559-3e75ec2ed794?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmF0bWFufGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=600");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    p{
        color: white;
        font-size: 70px;
        padding-left: 560px;
    }

h1{
    position: absolute;
    top: 430px;
    left:20px;
    font-size: 15px;
    color: white;
}
    h2{
        position: absolute;
        top: 427px;
        left: 220px;
        font-size: 15px;
        color: white;
    }

h3{
    position: absolute;
    top: 425px;
    left: 440px;
    font-size: 15px;
    color: white;
}
    h4{
        position: absolute;
        top: 420px;
        left: 625px;
        font-size: 15px;
        color: white;
    }
    h5{
        position: absolute;
        left: 550px;
        bottom: 20px;
        font-size: 20px;
        color: white;
    }
img{
    width: 190px;
    height: 200px;
    object-fit: cover;
}










}
