*{
    margin: 0;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 1.5fr 1fr;
    grid-template-rows:1fr 1.2fr 1.4fr 1fr;
    grid-template-areas:
        "header header header"
        "leftSide topArea rightSide"
        "leftSide bottomArea rightSide"
        "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.left-side{
    grid-area: leftSide;
    background: #C0BDBD;
}
.top-area{
    grid-area: topArea;
    background: #827878;
}
.bottom-area {
    grid-area: bottomArea;
    background: #B7ADAD;
}
.right-side{
    grid-area: rightSide;
    background: #C0BDBD;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}
