@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.items{
    padding: 100px 0;
    font-family: 'Inter', serif;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}
.item{
    width: 372px;
    text-align: center;
}
.item img{
    width: 372.0003356933594px;
    height: 279.0108947753906px;
    border-radius: 10px;
}
