@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.boxes{
    font-family: 'Inter', sans-serif;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


}
.circle {
    width: 271px;
}
.circle img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.circle h3{
    color: #161543;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 20px 0 10px 0;


}
.circle p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

}

