*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}
.card{
    width: 319px;
    height: 492px;
    background: #D9D9D94D;
    border: 4px solid #554C4C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.logo{
    height: 100px;
    width: 100px;
    border: 4px solid #554C4C;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
}
img{
    height: 60px;
    width: 60px;
}
.card h3{
    font-family: "Inter" , sans-serif;
    font-size: 40px;
}
.card p{
    font-family: "Inter" , sans-serif;
    font-size: 20px;
    text-align: center;
    width: 211px;
}
.green-border{
    border: 4px solid #65856E
}
