*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}
header{
    width: 100%;
    height: 113px;
    background: #24204A;
    box-shadow: 0 4px 4px 0 #00000040;
    position: fixed;
    top: 0;
}
 .header__w-1153 {
     width: 1153px;
     height: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .header__w-1153 ul{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 63px;
     list-style-type: none;
 }
 nav a{
     text-decoration: none;
 }
 header h2{
     font-size: 20px;
     color: #E5E5E5;
     opacity: 0.6;
 }
 nav ul li a{
     font-size: 16px;
     color: #E5E5E5;
     opacity: 0.6;
 }
 .one-posotion{
     height: 692px;
     background-color: #24204A;
     padding: 180px 0 101px 0;
     box-sizing: border-box;

 }
 .one-posotion__w-1153{
     width: 1153px;
     height: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .one-posotion__w-1153 div:nth-child(1){
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     gap: 32px;
 }
section .one-posotion__w-1153 .one-position{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #8E88C1;
    border: none;
}
.one-posotion__w-1153 h1{
    width: 261px;
    height: 88px;
    top: 271px;
    left: 115px;
    opacity: 1;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 5%;
    color: #fff;
}
.one-posotion__w-1153 p{
    width: 570px;
    height: 85px;
    top: 391px;
    left: 115px;
    opacity: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 5%;
    color: #8E88C1;
}
.one-posotion__w-1153 .button-about{
    width: 200px;
    height: 56px;
    top: 508px;
    left: 115px;
    border-radius: 8px;
    opacity: 1;
    background: #3F50E7;
    border: none;
    color: #fff;
}
.one-posotion__w-1153 div:nth-child(2){
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one-posotion__w-1153 img{
    width: 318px;
    height: 318px;
}
.Lorem-ipsum{
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
    box-sizing: border-box;
}
.w-1153-lorem-ipsum{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.icon div:nth-child(1){
    border-radius: 8px;
    width: 56.144px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:nth-child(1) div:nth-child(1){
    background: #FF6853;
}
.icon:nth-child(2) div:nth-child(1){
    background: #FF537C;
}
.icon:nth-child(3) div:nth-child(1){
    background: #80D2C4;
}
.icon:nth-child(4) div:nth-child(1){
    background: #3F50E7;
}
.icon:nth-child(5) div:nth-child(1){
    background: #95CB7C;
}

.icon div:nth-child(2) h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}
.icon div:nth-child(2) p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5%;
    color: #8E88C1;
}
.w-1153-lorem-ipsum h2{
    width: 1074px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: white;
    margin: 50px 0;
}
.w-1153-lorem-ipsum p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5%;
    text-align: center;
    color: #8E88C1;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 209px;
    height: 206px;
    top: 1098px;
    left: 114px;
    border-radius: 8px;
    opacity: 1;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card p{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 5%;
    text-align: center;
}
iframe{
    width: 100%;
    height: 664px;
}
footer{
    width: 100%;
    height: 94px;
    background: #24204A;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0%;
    color: white;
}







